body {
  font-family: "Lexend Peta", sans-serif;
  color: rgb(236, 232, 232);
  background-color: rgb(237, 243, 243);
}

#container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  margin-top: 50px;
  height: 150px;
  background-color: rgb(116, 114, 114);
}

#topbarR {
  margin-top: 10px;
  float: right;
  margin-right: 500px;
  width: 50px;
}

#topbarL {
  float: left;
  margin-top: 8px;
  padding: 20px;
  width: 600px;
  font-size: 70px;
}

#menu {
  background-color: rgb(118, 143, 143);
  margin-top: 0px;
}

.option {
  margin-left: 0px;
  margin-top: 40px;
  float: left;
  min-width: 50px;
  font-size: 35px;
  font-weight: bold;
  height: 40px;
  padding: 20px;
  border-right: 8px dotted rgb(58, 59, 59);
}

.option:hover {
  background-color: rgb(95, 170, 204);
  cursor: pointer;
}

#about {
  background-color: rgb(116, 114, 114);
  height: 60px;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}

.optionL {
  font-size: 20px;
  background-color: rgb(236, 112, 90);
  height: 30px;
  padding: 20px;
  border-bottom: 8px dotted rgb(58, 59, 59);
}

.optionL:hover {
  background-color: rgb(95, 170, 204);
  color: white;
  cursor: pointer;
}

#sidebar {
  float: left;
  width: 270px;
  height: 450px;
  padding: 0px;
  background-color: rgb(236, 112, 90);
  text-align: center;
  font-size: 25px;
  border-right: 8px dotted rgb(58, 59, 59);
}

#aboutTest {
  float: left;
  width: 1042px;
  background-color: rgb(118, 143, 143);
  height: 450px;
  font-size: 27px;
  text-align: justify;
  padding: 20px;
}

#footer {
  clear: both;
}
