body {
  font-family: "Lexend Peta", sans-serif;
  color: rgb(240, 240, 240);
  background-color: rgb(237, 243, 243);
}

#container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  margin-top: 50px;
  height: 150px;
  font-weight: bold;
  background-color: rgb(170, 165, 165);
}

#topbarR {
  margin-top: 10px;
  float: right;
  margin-right: 500px;
  width: 50px;
}

#topbarL {
  float: left;
  margin-top: 8px;
  padding: 20px;
  width: 600px;
  font-size: 70px;
}

#menu {
  background-color: rgb(120, 140, 140);
  margin-top: 0px;
}

.option {
  margin-left: 0px;
  margin-top: 40px;
  float: left;
  min-width: 50px;
  font-size: 35px;
  font-weight: bold;
  height: 40px;
  padding: 20px;
  border-right: 6px dotted rgb(60, 60, 60);
}

.option:hover {
  background-color: rgb(95, 170, 205);
  cursor: pointer;
}

#about {
  background-color: rgb(115, 115, 115);
  height: 45px;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}

.optionL {
  font-size: 20px;
  height: 25px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 6px dotted rgb(60, 60, 60);
}

.optionL:hover {
  background-color: rgb(95, 170, 205);
  cursor: pointer;
}

#sidebar {
  float: left;
  width: 270px;
  height: 400px;
  padding: 10px;
  background-color: rgb(110, 170, 115);
  text-align: center;
  border-right: 6px dotted rgb(60, 60, 60);
}

#aboutTest {
  float: right;
  width: 1064px;
  background-color: rgb(120, 140, 140);
  height: 380px;
  font-size: 22px;
  text-align: justify;
  padding: 20px;
}

#footer {
  background-color: rgb(115, 115, 115);
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
